@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination, .swiper-pagination-bullets {
  bottom: 20px !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border: 1px solid #828282;
  border-radius: 0px;
  background: transparent;
  opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background: black;
  width: 20px;
  height: 20px;
  border: unset;
}

.swiper > .swiper-button-next {
  top: unset;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  z-index: 20;
}

.swiper > .swiper-button-prev {
  top: unset;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  z-index: 20;
}

.swiper > .swiper-button-next::after {
  content: "";
  border: unset;
  font-family: sans-serif;
  background: url('/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper > .swiper-button-prev::after {
  content: "";
  border: unset;
  font-family: sans-serif;
  background: url('/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .swiper > .swiper-button-prev {
    left: unset;
    right: 60px;
  }

  .swiper-pagination, .swiper-pagination-horizontal {
    padding-left: 10px;
    display: flex;
  }
}